/* INICIO */
.filter-section {
    border: 1px solid #000000;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.075);
}

.filter-section h6 {
    font-size: 1rem;
}

.filter-section .form-check {
    margin-bottom: 0.5rem;
}

.filter-section .form-range {
    width: 100%;
}

/* ADMINISTRACIÓN */
.icon-lg {
    font-size: 2rem;
}

.card-custom {
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    -webkit-transition: transform 0.2s ease, box-shadow 0.2s ease;
    -moz-transition: transform 0.2s ease, box-shadow 0.2s ease;
    -ms-transition: transform 0.2s ease, box-shadow 0.2s ease;
    -o-transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-custom:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* TABLA COLORES */
.container {
    margin-top: 1em;
    text-align: center;
}

.custom-table {
    width: 60%;
    border-radius: 0.5em;
    overflow: hidden;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.btn-success {
    width: 15%;

    display: inline-block;
}

.custom-table th,
.custom-table td {
    text-align: center;
    vertical-align: middle;
    padding: 0.75em;
}

.col-id {
    width: 10%;
}

.col-nombre {
    width: 50%;
}

.col-acciones {
    width: 30%;
}

.acciones {
    display: flex;
    justify-content: center;
}

.btn-accion {
    margin: 0 0.5em;
    /* font-weight: bold; */
    padding: 0.5em 1em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-warning {
    background-color: #ffc107;
    color: black;
}

.btn-danger {
    background-color: #dc3545;
    color: black;
}

.btn-warning:hover {
    background-color: #e0a800;
    color: white;
}

.btn-danger:hover {
    background-color: #c82333;
    color: white;
}

/* BOTÓN DE AÑADIR */
.circle-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.29em;
    height: 1.29em;
    border: 0.125em solid white;
    border-radius: 50%;
    font-size: 1.29rem;
    color: white;
    text-decoration: none;
    background-color: transparent;
}

/* REGISTRARSE */

#shelterForm {
    display: none;
}

.register-title-style {
    font-family: "Roboto", sans-serif;
}
.card-header-transparent {
    background-color: transparent !important;
}
.card-footer {
    border-top: none;
    padding-top: 0;
}

.card-header {
    border-bottom: none;
}
.full-width-line {
    border-top: 0.16em solid #DEE2E6;
    width: 100%;
    margin: 0;
    padding: 0;
}
/* LOGIN */

.login-card {
    width: 100%;
    max-width: 25rem;
    margin: auto;
}

.card-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
}

.card-title {
    font-size: 1.25rem;
    margin: 0;
}


/* Contenedor principal del perfil */

.profile-bar__user {
    gap: 0.5rem; /* Ajusta según el espacio que desees */
}
/* Avatar */
.profile-bar__avatar {
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    border: 2px solid #ffffff;
}

.profile-bar__initial {
    color: #40B3B7;
    font-weight: bold;
}

/* Nombre de usuario */
.profile-bar__name {
    font-weight: 500;
    color: black;
}

/* Botón de Cerrar Sesión con Imagen */
.profile-bar__logout {
    color: black;
}

.profile-bar__logout:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.profile-bar__logout-icon {
    font-size: 1.25rem;
}
